<!doctype html>
<html ng-app='app'>
  <head>
    <title>YouVsMarkZuckerberg</title>
    <link rel='stylesheet' type='text/css' href='style.css'>
    <link rel='stylesheet' href='http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js'></script>
    <script src='app.js' type='text/javascript'></script>
    <script src='youVsCalculator.js' type='text/javascript'></script>
    <div ng-controller='userInput'>
      <div ng-view>
        <img class='fbLogo' src='fbLogo.png'/>
        <div class='incomeInfo'>
          <h2 class='md-display-2'>Enter your Income</h2>
          <input type='number' ng-model='income' placeholder='Enter income here'></input>
          <input id='showHideButton' type='button' value='submit' ng-click='userInputIncome(); scroll(); saveIncome(); showDiv(); saveToScope();'></input>
        </div>
        <div id='bottom'>
          <div>
            <h3 class='md-display-4'>It would take Zuckerberg</h3>
            <h3 class='numberCircle'>{{ youVsZuck }}</h3>
            <h3 class='md-display-3'>to earn your income</h3>
            <h3 class='md-display-4'>That means....</h3>
          </div>
          <div class='columns'>
            <div class='earned2015'>
              <h3 class='markIncomeYearly'>Mark earned</h3>
              <h3 class='billion'>$18,000,000,000</h3>
              <h3 class='markIncomeYearly'>in 2015</h3>
            </div>
            <div class='dailyAverage'>
              <h3 class='markIncomeDaily'>With a daily average of</h3>
              <h3 class='markIncomeDailyNumber'>$49,315,068</h3>
            </div>
            <div class='yearsToEarn'>
              <h3 class='itWould'>It would take you</h3>
              <div class='wrapperForYou'>
                <h3 class='forYou'>{{ forYou }}</h3>
              </div>
              <h3 class='earnSame'>years to earn the same</h3>
            </div>
          </div>
          <h3 class='studentHr'>Mark could send 910,000 students through Hack Reactor</h3>
          <img src='studentIcon.png' class='studentIcon'/>
          <h3 class='companyRevenue'>Mark earned 91% of Toyotas 2015 profit</h3>
          <h3 class='perspective'>{{ perspective }}</h3>
          <h3 class='hasEarned'>Zuckerberg has earned {{ '$' + counter }} since you have been on this page</h3>
        </div>
      </div>
    </div>
  </body>
</html>
